
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

.sec2{
height: 50px;
}

.sec1{
    width: 150px;
    height: 150px;
    border: 7px solid green;
    border-radius: 50%;
}
.row .car-pad{
    padding-right: 0%;
  }
  
.row .car-pad1{
    padding: 0%;
    border: 7px solid white;
  }
  
.row .car-pad2{
    padding-left: 0%;
  }
  .row #text-n{
    font-family: "Noto Sans Bengali", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      font-size: 22px;
      color: #2d862d;
  }
  .ch1{
    z-index: 10;
    padding-top: 12px;
    font-size: 18px;
    color: white;
    font-family: "Noto Sans Bengali", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      font-size: 22px;
  } 
body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
}
@media (min-width: 320px) {
  #main{
    margin: 0%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
  .container .ch2{
    margin-top: 70px;
  }
  .ch1{
    padding-bottom: 10px;
  }
 .sec1{
    margin-top: 47px;
  }
}

@media (min-width: 992px) {
  .container .ch2{
    margin-top: 18px;
  }
.sec1{
    margin-top: 0px;
  }
  .container{
    max-width: 100%;
  }
  #main{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 85%;
  }
}