
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');
.col-lg-2{
    background-color: #339933;
}
#bk{
    padding: 0;
    } 
.col-lg{
    background-color: #339933;
}
#para{
    flex-wrap: nowrap;
}
#para1{
    padding: 0%;
}
#para3{
    padding: 0%;
    overflow: hidden;
}
.navbar-brand img{
    height: 100px;
    width: 100px;
    border: 5px solid #339933;
    border-radius: 50%;
}
#sec8{
    border: 2px solid #fff;
}
.sec-img{
    max-width: 100%;
}
h2 span{
    font-family: "Noto Sans Bengali", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      font-size: 30px;
}
@media (min-width: 320px) {
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
}